*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: black;
}

body{
    font-family: 'Courier New', Courier, monospace;
}



.boton {
    background-color: blue;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100px;
    display: block;
    padding: 5px;
}

.boton:hover{
    background-color: orange;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}


/* INDEX */

/*!--HEADER--*/

header{
    background-color: black;
}

.navbar .nav-item{
    color: orange;
    list-style: none;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header .navbar .container-fluid .hamburguesa{
    border-color: white !important;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none !important;
}

.navbar-toggler::after {
    content: '☰'; 
    font-size: 24px; 
    color: orange; 
}


/*!--MAIN--*/

.hero {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente (opcional) */
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    font-size: 90%;
    text-align: center;
    padding-top: 200px;
    background-image: url(../img/bg-hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h2 {
    font-size: 50px;
}

.hero p {
    margin: 5px;
    margin-bottom: 20px;
}




.lanzamientos-container {
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lanzamientos-container h3{
    margin-bottom: 1%;
}


/* usar grids */
.grupo-tarjetas{
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: 400px 400px 400px;
    gap: 10px;
    margin-left: 80px;
}


.ficha{
    margin: 30px;
    font-size: 120%;
    
}

.ficha a{
    display: block;
    color: black;
}

.ficha p{
    margin-top: 10px;
}

.ficha a:hover{
    color: orange;
}



.videos{
    font-family: 'Courier New', Courier, monospace;  
    text-align: center;
}

.videos h3{
    margin: 10px;
}

.videos .videos-contenedor{
    margin: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.ficha-vid{
    margin-bottom: 5px;
}

.ficha-vid h3{
    margin-bottom: 5px;
}


.media{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel-container .carousel-img {
    width: 100vh;
    height: 100vh;
}


.contacto{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}



/*!--FOOTER--*/


#pie {
    border: 2px solid black;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 150px;
}




.redes{
    margin: 10px;
}



/* NOSOTROS */

/* MAIN */


.grids-container-nosotros{
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    grid-template-areas: 
    "bio contacto"
    "bio gc"
    ;
}

/* Me gustaria poner el logo abajo de la ficha de contacto pero no me sale :( */



.contacto-nosotros{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    height: 200px;
    grid-area: contacto;
}

.contacto-nosotros a{
    text-decoration: underline !important;
    margin: 10px;
}

.contacto-nosotros a:hover{
    text-decoration: none !important;
}



.bio-container{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: 600;
    width: 350px;
    grid-area: bio;

}

.bio-container h6{
    text-decoration: underline;
}


.good-content-nosotros{
    grid-area: gc;
}


/* ARTISTAS */

.artistas-item{
    margin: 50px;
}


.artistas-data{
    display: flex;
    justify-content: space-around;
}

.artistas-data p{
    width: 400px;
    height: 100px;
    text-align:left;
}

.artistas-data img{
    object-fit: contain;
}



/* MEDIA QUERIES */

@media screen and (max-width:1156px){
    .grupo-tarjetas{
        display: grid;
        grid-template-rows: 500px 500px;
        grid-template-columns: 400px 400px;
        align-items: center;
        gap: 10px;
        margin-left: 80px;
    }
}

@media screen and (max-width:662px){
    .grupo-tarjetas{
        display: grid;
        grid-template-rows: 500px 500px;
        grid-template-columns: 400px;
        align-items: center;
        gap: 10px;
        margin-left: 80px;
    }
    .vid-item{
        width: 95%;
        height: auto;
    }
    .grids-container-nosotros{
        display: block;
    }
    
    
}

@media screen and (max-width:1276px){
    .videos .videos-contenedor{
        margin: 10vh;
        display: block;
    }
}

@media screen and (max-width:1079px){
    .media{
        display: block;
        align-items: center;
    }
}
