

// INDEX


.hero{
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente (opcional) */
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: $color-principal;
    font-size: 90%;
    text-align: center;
    background-image: url(../img/bg-hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


        h2{
            font-size: 50px; 

        }

        p{
            margin: 5px;
            margin-bottom: 20px;
        }

        .extend-boton{
            @extend %boton;
            position: sticky;
        }
        .extend-boton:hover{
            @extend %boton:hover;
        }


}


.lanzamientos-container{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

        h3{
            margin-bottom: 1%;
        }
        .grupo-tarjetas{
            display: grid;
            grid-template-rows: 500px 500px;
            grid-template-columns: 400px 400px 400px;
            gap: 10px;
            margin-left: 50px;
        }
        .ficha{
            margin: 30px;
            font-size: 120%;
                img{-webkit-box-shadow: 6px 10px 5px -4px rgba(0,0,0,0.75);
                    -moz-box-shadow: 6px 10px 5px -4px rgba(0,0,0,0.75);
                    box-shadow: 6px 10px 5px -4px rgba(0,0,0,0.75);

                }
        
                a{
                    display: block;
                    color: black;
                }
                p{
                    margin-top: 10px;
                }
                a:hover{
                    color: orange;
                }
        }
}






.videos{
    font-family: 'Courier New', Courier, monospace;  
    text-align: center;
        
        h3{
            margin: 10px;
        }
        .videos-contenedor{
            margin: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
}

.ficha-vid{
    margin-bottom: 5px;

        h3{
            margin-bottom: 5px;
        }
}

.media{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel-container{
        .carousel-img{
            width: 75vh;
            height: 100vh;
            img{
                width: 100vh;
            }
        }
}

.contacto{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}



// NOSOTROS

.grids-container-nosotros{
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    grid-template-areas: 
    "bio contacto"  
    "bio gc"
    ;
            .contacto-nosotros{
                font-family: 'Courier New', Courier, monospace;
                padding: 20px;
                height: 200px;
                grid-area: contacto;
                    
                    a{
                        text-decoration: underline !important;
                        margin: 10px;
                    }
                    a:hover{
                        text-decoration: none !important;
                    }
            }
            .bio-container{
                padding: 20px;
                font-family: 'Courier New', Courier, monospace;
                font-size: 100%;
                font-weight: 600;
                width: 350px;
                grid-area: bio;
                    h6{
                        text-decoration: underline;
                    }
            }
            .good-content-nosotros{
                grid-area: gc;
            }
}


// ARTISTAS

.artistas-global{
    margin: 30px;
    text-align: center;
        .art-titulo{
            display: inline-block;
            font-weight: 800;
            
        &:hover .art-letra{
            transform: translateY(-5px);
            font-size: 50px;
            transition: ease-in-out 1s;
            }
            
            .art-letra{
                font-size: 35px;
                transition: font-size ease-out 1s;
            }
        }

        .artistas-container{
            margin: 20px;
            padding: 70px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            
                .artistas-tarjetas{
                    margin: 20px;

                    a{

                        .artistas-imagen{

                            width: 100%;
                            display: inline-block;

                            .art-background{
                                background-color: white;
                                position: relative;
                                display: inline-block;
                                border-radius: 8px;


                            &:hover{
                                transform: translate(-5px,-3px);
                            }


                            &:hover h2{
                                visibility: visible;
                                opacity: 1;
                            }


                                img{
                                    width: 450px;
                                    height: 670px;
                                    border-radius: 8px;
                                    object-fit: cover;
                                &:hover{
                                    opacity: 90%;
                                    transition: opacity 0.5s ease;
                                }
                                }
                                h2{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: orange;
                                    font-weight: bold;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: opacity 1s ease, visibility 0.5s ease;
                                }
                            }
                        }
                    }
                }
        }



}



// ARTISTAS BIO

.ar-container{
    
    
    .ar-data{
        margin: 50px;
        display: flex;
        justify-content: space-between;

        img{
            width: nth($size-foto, 1);
            height: nth($size-foto, 2);
        }
        .ar-texto{
            h1{
                text-align: right;
                font-weight: 900;
            }
            p{
                padding-left: 45px;
                margin-top: 20px;
                font-size: nth($size, 1);
            }
        }
    }

    .ar-media{
        margin: 40px;
        a{
            img{
                width: nth($size, 2);
                margin: 5px;
                
            }
        }
    }
}


.ar-canciones{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
        .ar-minitarjetas{
            width: 262px;
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
            img{
                width: 100px;
                height: 100px;
                align-items: left;
            }
            .ar-mini-info{
                
                    p{
                        font-size: 13px;
                    
                    }
                    
            }
        }
}



// CONTACTO

.contacto-nosotros{
    margin: 30px;
}