*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: black;
}

body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.boton {
    background-color: $color-secundario;
    color: $color-principal;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100px;
    display: block;
    padding: 5px;
}

.boton:hover{
    background-color: orange;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}